body
{
    background: #0f0c29;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    background-size: cover;
}
.add
{
    display: block;
    margin-top: 5vh;
    right: 2rem;
    text-align: center;
    padding: 5px;
    outline: none;
    border:none;
    cursor: pointer;
    background-color: rgb(253, 251, 147);
    color: rgb(12, 0, 41);
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s;
    position: fixed;
}
.add:hover
{
    background-color: rgb(255, 255, 255);

}
.notes
{
    width:400px;
    height:300px;
    margin:auto;
    margin-top: 10vh;    
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.7);
    display: none;
}
.notes .tools
{
    background-color: rgb(247, 206, 42);
    padding:12px;
    text-align: end;
}
.notes .tools button
{
    outline:none;
    background-color: transparent;
    border:none;
    cursor: pointer;
    font-size:15px;
}
.notes .main
{
    overflow:scroll;
    width: 92.5%;
    height: 76%;
}
.notes textarea
{
    width:95%;
    height:79%;
    border:none;
    outline:none;
    background-color: #a1ffce;
    background: linear-gradient(to right, #a1ffce, #faffd1);
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 20px;
    padding:10px;
    font-weight: bold;
}
.notes .hidden
{
    display: none;
}